In [1]:
#first let's import all necessery libraries for this analysis

import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

In [2]:
df=pd.read_csv('superficie-incendiada-provincias-tipo-de-vegetacion.csv', sep=';',encoding='latin-1')
print(df.shape)
df.head(20)

(624, 8)

,superficie_afectada_por_incendios_anio,superficie_afectada_por_incendios_provincia,superficie_afectada_por_incendios_total_hectareas,superficie_afectada_por_incendios_bosque_nativo_hectareas,superficie_afectada_por_incendios_bosque_cultivado_hectareas,superficie_afectada_por_incendios_arbustal_hectareas,superficie_afectada_por_incendios_pastizal_hectareas,superficie_afectada_por_incendios_sin_determinar_hectareas
0,1993,Buenos Aires,0,0,0,0,0,0.0
1,1993,Catamarca,0,0,0,0,0,0.0
2,1993,Chaco,0,0,0,0,0,0.0
3,1993,Chubut,149.5,10,6.25,0,133.25,0.0
4,1993,Córdoba,232941,59995,250,0,172696,0.0
5,1993,Corrientes,1727,0,918,0,809,0.0
6,1993,Entre Ríos,75,75,0,0,0,0.0
7,1993,Formosa,31,0,26,0,5,0.0
8,1993,Jujuy,0,0,0,0,0,0.0
9,1993,La Pampa,1207510,1207510,0,0,0,0.0
10,1993,La Rioja,0,0,0,0,0,0.0
11,1993,Mendoza,0,0,0,0,0,0.0
12,1993,Misiones,0,0,0,0,0,0.0
13,1993,Neuquén,340.85,282.31,6,0,52.54,0.0
14,1993,Río Negro,111,108,0,0,3,0.0
15,1993,Salta,0,0,0,0,0,0.0
16,1993,San Juan,0,0,0,0,0,0.0
17,1993,San Luis,330147,0,0,0,330147,0.0
18,1993,Santa Cruz,6351,727,0,0,5624,0.0
19,1993,Santa Fe,0,0,0,0,0,0.0

In [3]:
df.columns

Index(['superficie_afectada_por_incendios_anio',
       'superficie_afectada_por_incendios_provincia',
       'superficie_afectada_por_incendios_total_hectareas',
       'superficie_afectada_por_incendios_bosque_nativo_hectareas',
       'superficie_afectada_por_incendios_bosque_cultivado_hectareas',
       'superficie_afectada_por_incendios_arbustal_hectareas',
       'superficie_afectada_por_incendios_pastizal_hectareas',
       'superficie_afectada_por_incendios_sin_determinar_hectareas'],
      dtype='object')

In [4]:
years=df.superficie_afectada_por_incendios_anio.unique()
years

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019], dtype=int64)

In [5]:
prov=df.superficie_afectada_por_incendios_provincia.unique()
prov

array(['Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba',
       'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa',
       'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta',
       'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe',
       'Santiago del Estero', 'Tierra del Fuego', 'Tucumán',
       'Ciudad Autónoma de Buenos Aires', 'Ciudad Autónoma de Bs As',
       'Parques Nacionales', 'Santa Fé'], dtype=object)

In [6]:
sup_total=df.superficie_afectada_por_incendios_total_hectareas.unique()
print(sup_total)
sup_total_numeric=pd.to_numeric(sup_total, errors='coerce')
print(sup_total_numeric)

['0' '149.5' '232941' '1727' '75' '31' '1207510' '340.85' '111' '330147'
 '6351' '13000' '28.05' '4412' '3296.75' '240196' '140' '91' '9' '621840'
 '47150' '18.050.255' '3271' '25513' '1684' '50000' '320.04' '65' '3000'
 '30.728.114' '300639' '7899' '2269' '500' '148720' '4514' '203.541.184'
 '9732.3' '660' '196312' '5695' '27294' '215952' '68.54' '950' '148709'
 '61.837.604' '11.457.229' '49812' '6981' '1556' '4530' '1980' '20600'
 '975' '6615' '5305' '702.583.347' '337.434.854' '2391' '15370' '2856.25'
 '49038' '1750' '105.105' '31.5' '3902.25' '45900' '7660' '3621.94'
 '39517' '424' '857' '2686' '274' '31780' '25003' '4100' '2160'
 '172.803.806' '104.815.274' '40185' '438.5' '6436' '21381' '492' '8000'
 '148.08' '1321' '38970.5' '2100' '14726.26' '7671.88' '20504' '315' '461'
 '711.16' '498.61' '389740' '21012' '111460' '5514' '12.392.828'
 '82698.98' '23042' '263.5' '146637' '3483' '534.75' '2709' '5.337.374'
 '41574' '1300' '9381465' '27437.74' '59933' '8176' '20236.5' '6240' '329'
 '77270' '67025' '67238.5' '3675' '128756193' '593851134' '14835'
 '1083.75' '87157' '19097.75' '363785' '1200' '2138067' '2818' '17926.5'
 '77233' '2639.05' '1336015' '32' '89920' '6014.2' '1175' '731.5' '1167'
 '1411981.4' '52178' '609834' '3862.47' '151805095' '155753.09' '30793'
 '803.5' '299556' '7378.25' '2087' '4732' '224058' '15800' '755698659'
 '1916' '6289175' '58854842' '15953' '83173' '2824' '480.7' '5596' '134.3'
 '2913817' '65038' '420340' '2923.5' '225517848' '938044577' '47611'
 '574.5' '90105' '4704.75' '2399' '1382' '570963' '600' '104906818'
 '43524765' '144974' '76407598' '104773' '4025' '496' '9687' '139.5'
 '985793' '78422' '333429.5' '575.23' '8440087' '333616784' '36516' '984'
 '178112' '98650028' '2544.75' '8017.7' '231207' '1048.5' '569735825'
 '11080' '16978.4' '446594549' '14' '127545' '2132' '1381' '7585.6'
 '258.8' '853921' '125968' '612387.4' '4381071' '179082248' '448243664'
 '54857' '2658.5' '217720' '15494.25' '4421' '3474.1' '0.3079' '3563'
 '23706408' '2174.5' '5257.4' '24591075' '45' '11473' '5159' '4133115'
 '2095' '9796' '239677.85' '18231' '59759' '2416.85' '253798383'
 '404247734' '64675' '855.5' '6450.75' '27430' '7180' '25704' '968.2'
 '397985873' '31057.5' '5143.26' '539206899' '28' '16910' '56594.9'
 '2713.9' '7943' '3655.44' '313526' '680' '64985.5' '8966' '229624729'
 '303278854' '61778' '995.75' '22562.2' '9398123' '1911' '172974' '2951'
 '168086242' '4856' '37606175' '3307155' '61769' '7370' '4804.9' '1691'
 '5875439' '137390' '7678' '60499.8' '2955.71' '76645205' '141791431'
 '41162.5' '656' '20832' '3125521' '3047' '15000' '0.76425' '2146.8'
 '191064766' '24754.6' '26213.1' '7564165' '80232' '11369' '569000009'
 '549.32' '3056' '14982397' '22255' '200' '16167' '295.5' '11537748'
 '435448262' '36809' '1346' '25660' '9023826' '2794' '4545' '1553396'
 '861.6' '688243728' '12544.6' '2873' '92867839' '23351' '61541.65' '8053'
 '77893.1' '4165' '26465747' '97486' '1016.6' '88526.5' '1473.45'
 '8723658' '203485123' '27391' '1122.75' '24150' '55298.9' '5001' '24633'
 '7395377' '244.6' '340778905' '54253.4' '3442' '36782744' '65.47' '70247'
 '15560' '804' '1378.31' '1668.01' '24926' '3980' '25295.75' '1477.6'
 '2094689' '147539543' '35051' '1164.5' '486563' '98482038' '3887' '39540'
 '353937' '4993.25' '86706388' '158306013' '3917.03' '126195417' '0.48'
 '10305' '820.42' '1692.2' '27144.97' '18391' '29271' '54196.05' '546'
 '5952392' '64520109' '3945' '1087.25' '32325' '40.75' '2767' '5395'
 '5.96' '33540329' '12723.35' '8848055' '416913708' '77725' '71293'
 '5876.2' '2025' '2414.9' '1342425' '78022' '1390' '10907.65' '502'
 '10682692' '153547234' '1909.4' '20136' '18600' '62.64' '24902871'
 '10953619' '966165' '981254' '4651.49' '7770.9' '46983755' '0.4831'
 '11130' '35568245' '2422.8' '5959.2' '8674.78' '30202' '391' '70062503'
 '2143' '160575545' '309347368' '1797565' '635.5' '50201' '204990206'
 '2530.5' '8970' '2575845' '1992' '1967872' '6507.39' '8852019' '106919'
 '323348' '105179' '1103208' '11840' '11292.77' '320417785' '83360' '506'
 '77017.95' '870' '24492974' '173212202' '18146136' '451.5' '54693'
 '1504.15' '2478' '6062' '100258' '6429' '661035538' '10366.62' '5244.8'
 '1477329' '0.199' '4196' '1639987' '1536' '7820889' '1447725' '490635.4'
 '1814' '66156' '959' '6266721' '493736763' '1614985' '566' '52493'
 '277024' '739' '1471' '89819' '120' '57300447' '10851.78' '4219.5'
 '403469768' '60042' '1280' '12227' '1530' '794.44' '19083521' '213804'
 '511' '19788.35' '378' '205644929' '105108.23' '1094448' '591.25' '33198'
 '158.5' '1177' '1975' '5362' '115.3' '592958892' '27495688' '9129.2'
 '95523275' '12629' '3540.7' '9980' '3030' '614901' '2010155' '615182'
 '334' '93529.3' '2665' '383560624' '601759072' '46658188' '2099.5'
 '97861' '1035.63' '1107' '1675' '100235' '90' '7.696.472' '451.701.199'
 '4.923.988' '5.214.405' '0.0012' '45343.4' '2.388.387' '372' '1.342.632'
 '2105.63' '964407.5' '734' '418798.8' '1775' '67.872.663' '610.764.595'
 '44.773.855' '12021.5' '39' '303.201' '1303' '1784' '5.214' '178.25'
 '86851,7218' '6992,882' '3067,45' '100,44' '0,04393' '20826,31'
 '434,0095' '4899' '550,649' '841,755' '723261,9' '303' '126315,5' '765,5'
 '2825,5393' '33281,3045' '4688,09736' '1306,0055' '565,5' '1686' '2,7536'
 '1801,86' '398,95' '4253,62' '0,015' '4297,755' '13,69' '246' '1577,334'
 '190,285' '115692' '34' '33296,1' '53' '2378,1825' '278,13063' '540'
 '2,1597']
[0.00000000e+00 1.49500000e+02 2.32941000e+05 1.72700000e+03
 7.50000000e+01 3.10000000e+01 1.20751000e+06 3.40850000e+02
 1.11000000e+02 3.30147000e+05 6.35100000e+03 1.30000000e+04
 2.80500000e+01 4.41200000e+03 3.29675000e+03 2.40196000e+05
 1.40000000e+02 9.10000000e+01 9.00000000e+00 6.21840000e+05
 4.71500000e+04            nan 3.27100000e+03 2.55130000e+04
 1.68400000e+03 5.00000000e+04 3.20040000e+02 6.50000000e+01
 3.00000000e+03            nan 3.00639000e+05 7.89900000e+03
 2.26900000e+03 5.00000000e+02 1.48720000e+05 4.51400000e+03
            nan 9.73230000e+03 6.60000000e+02 1.96312000e+05
 5.69500000e+03 2.72940000e+04 2.15952000e+05 6.85400000e+01
 9.50000000e+02 1.48709000e+05            nan            nan
 4.98120000e+04 6.98100000e+03 1.55600000e+03 4.53000000e+03
 1.98000000e+03 2.06000000e+04 9.75000000e+02 6.61500000e+03
 5.30500000e+03            nan            nan 2.39100000e+03
 1.53700000e+04 2.85625000e+03 4.90380000e+04 1.75000000e+03
 1.05105000e+02 3.15000000e+01 3.90225000e+03 4.59000000e+04
 7.66000000e+03 3.62194000e+03 3.95170000e+04 4.24000000e+02
 8.57000000e+02 2.68600000e+03 2.74000000e+02 3.17800000e+04
 2.50030000e+04 4.10000000e+03 2.16000000e+03            nan
            nan 4.01850000e+04 4.38500000e+02 6.43600000e+03
 2.13810000e+04 4.92000000e+02 8.00000000e+03 1.48080000e+02
 1.32100000e+03 3.89705000e+04 2.10000000e+03 1.47262600e+04
 7.67188000e+03 2.05040000e+04 3.15000000e+02 4.61000000e+02
 7.11160000e+02 4.98610000e+02 3.89740000e+05 2.10120000e+04
 1.11460000e+05 5.51400000e+03            nan 8.26989800e+04
 2.30420000e+04 2.63500000e+02 1.46637000e+05 3.48300000e+03
 5.34750000e+02 2.70900000e+03            nan 4.15740000e+04
 1.30000000e+03 9.38146500e+06 2.74377400e+04 5.99330000e+04
 8.17600000e+03 2.02365000e+04 6.24000000e+03 3.29000000e+02
 7.72700000e+04 6.70250000e+04 6.72385000e+04 3.67500000e+03
 1.28756193e+08 5.93851134e+08 1.48350000e+04 1.08375000e+03
 8.71570000e+04 1.90977500e+04 3.63785000e+05 1.20000000e+03
 2.13806700e+06 2.81800000e+03 1.79265000e+04 7.72330000e+04
 2.63905000e+03 1.33601500e+06 3.20000000e+01 8.99200000e+04
 6.01420000e+03 1.17500000e+03 7.31500000e+02 1.16700000e+03
 1.41198140e+06 5.21780000e+04 6.09834000e+05 3.86247000e+03
 1.51805095e+08 1.55753090e+05 3.07930000e+04 8.03500000e+02
 2.99556000e+05 7.37825000e+03 2.08700000e+03 4.73200000e+03
 2.24058000e+05 1.58000000e+04 7.55698659e+08 1.91600000e+03
 6.28917500e+06 5.88548420e+07 1.59530000e+04 8.31730000e+04
 2.82400000e+03 4.80700000e+02 5.59600000e+03 1.34300000e+02
 2.91381700e+06 6.50380000e+04 4.20340000e+05 2.92350000e+03
 2.25517848e+08 9.38044577e+08 4.76110000e+04 5.74500000e+02
 9.01050000e+04 4.70475000e+03 2.39900000e+03 1.38200000e+03
 5.70963000e+05 6.00000000e+02 1.04906818e+08 4.35247650e+07
 1.44974000e+05 7.64075980e+07 1.04773000e+05 4.02500000e+03
 4.96000000e+02 9.68700000e+03 1.39500000e+02 9.85793000e+05
 7.84220000e+04 3.33429500e+05 5.75230000e+02 8.44008700e+06
 3.33616784e+08 3.65160000e+04 9.84000000e+02 1.78112000e+05
 9.86500280e+07 2.54475000e+03 8.01770000e+03 2.31207000e+05
 1.04850000e+03 5.69735825e+08 1.10800000e+04 1.69784000e+04
 4.46594549e+08 1.40000000e+01 1.27545000e+05 2.13200000e+03
 1.38100000e+03 7.58560000e+03 2.58800000e+02 8.53921000e+05
 1.25968000e+05 6.12387400e+05 4.38107100e+06 1.79082248e+08
 4.48243664e+08 5.48570000e+04 2.65850000e+03 2.17720000e+05
 1.54942500e+04 4.42100000e+03 3.47410000e+03 3.07900000e-01
 3.56300000e+03 2.37064080e+07 2.17450000e+03 5.25740000e+03
 2.45910750e+07 4.50000000e+01 1.14730000e+04 5.15900000e+03
 4.13311500e+06 2.09500000e+03 9.79600000e+03 2.39677850e+05
 1.82310000e+04 5.97590000e+04 2.41685000e+03 2.53798383e+08
 4.04247734e+08 6.46750000e+04 8.55500000e+02 6.45075000e+03
 2.74300000e+04 7.18000000e+03 2.57040000e+04 9.68200000e+02
 3.97985873e+08 3.10575000e+04 5.14326000e+03 5.39206899e+08
 2.80000000e+01 1.69100000e+04 5.65949000e+04 2.71390000e+03
 7.94300000e+03 3.65544000e+03 3.13526000e+05 6.80000000e+02
 6.49855000e+04 8.96600000e+03 2.29624729e+08 3.03278854e+08
 6.17780000e+04 9.95750000e+02 2.25622000e+04 9.39812300e+06
 1.91100000e+03 1.72974000e+05 2.95100000e+03 1.68086242e+08
 4.85600000e+03 3.76061750e+07 3.30715500e+06 6.17690000e+04
 7.37000000e+03 4.80490000e+03 1.69100000e+03 5.87543900e+06
 1.37390000e+05 7.67800000e+03 6.04998000e+04 2.95571000e+03
 7.66452050e+07 1.41791431e+08 4.11625000e+04 6.56000000e+02
 2.08320000e+04 3.12552100e+06 3.04700000e+03 1.50000000e+04
 7.64250000e-01 2.14680000e+03 1.91064766e+08 2.47546000e+04
 2.62131000e+04 7.56416500e+06 8.02320000e+04 1.13690000e+04
 5.69000009e+08 5.49320000e+02 3.05600000e+03 1.49823970e+07
 2.22550000e+04 2.00000000e+02 1.61670000e+04 2.95500000e+02
 1.15377480e+07 4.35448262e+08 3.68090000e+04 1.34600000e+03
 2.56600000e+04 9.02382600e+06 2.79400000e+03 4.54500000e+03
 1.55339600e+06 8.61600000e+02 6.88243728e+08 1.25446000e+04
 2.87300000e+03 9.28678390e+07 2.33510000e+04 6.15416500e+04
 8.05300000e+03 7.78931000e+04 4.16500000e+03 2.64657470e+07
 9.74860000e+04 1.01660000e+03 8.85265000e+04 1.47345000e+03
 8.72365800e+06 2.03485123e+08 2.73910000e+04 1.12275000e+03
 2.41500000e+04 5.52989000e+04 5.00100000e+03 2.46330000e+04
 7.39537700e+06 2.44600000e+02 3.40778905e+08 5.42534000e+04
 3.44200000e+03 3.67827440e+07 6.54700000e+01 7.02470000e+04
 1.55600000e+04 8.04000000e+02 1.37831000e+03 1.66801000e+03
 2.49260000e+04 3.98000000e+03 2.52957500e+04 1.47760000e+03
 2.09468900e+06 1.47539543e+08 3.50510000e+04 1.16450000e+03
 4.86563000e+05 9.84820380e+07 3.88700000e+03 3.95400000e+04
 3.53937000e+05 4.99325000e+03 8.67063880e+07 1.58306013e+08
 3.91703000e+03 1.26195417e+08 4.80000000e-01 1.03050000e+04
 8.20420000e+02 1.69220000e+03 2.71449700e+04 1.83910000e+04
 2.92710000e+04 5.41960500e+04 5.46000000e+02 5.95239200e+06
 6.45201090e+07 3.94500000e+03 1.08725000e+03 3.23250000e+04
 4.07500000e+01 2.76700000e+03 5.39500000e+03 5.96000000e+00
 3.35403290e+07 1.27233500e+04 8.84805500e+06 4.16913708e+08
 7.77250000e+04 7.12930000e+04 5.87620000e+03 2.02500000e+03
 2.41490000e+03 1.34242500e+06 7.80220000e+04 1.39000000e+03
 1.09076500e+04 5.02000000e+02 1.06826920e+07 1.53547234e+08
 1.90940000e+03 2.01360000e+04 1.86000000e+04 6.26400000e+01
 2.49028710e+07 1.09536190e+07 9.66165000e+05 9.81254000e+05
 4.65149000e+03 7.77090000e+03 4.69837550e+07 4.83100000e-01
 1.11300000e+04 3.55682450e+07 2.42280000e+03 5.95920000e+03
 8.67478000e+03 3.02020000e+04 3.91000000e+02 7.00625030e+07
 2.14300000e+03 1.60575545e+08 3.09347368e+08 1.79756500e+06
 6.35500000e+02 5.02010000e+04 2.04990206e+08 2.53050000e+03
 8.97000000e+03 2.57584500e+06 1.99200000e+03 1.96787200e+06
 6.50739000e+03 8.85201900e+06 1.06919000e+05 3.23348000e+05
 1.05179000e+05 1.10320800e+06 1.18400000e+04 1.12927700e+04
 3.20417785e+08 8.33600000e+04 5.06000000e+02 7.70179500e+04
 8.70000000e+02 2.44929740e+07 1.73212202e+08 1.81461360e+07
 4.51500000e+02 5.46930000e+04 1.50415000e+03 2.47800000e+03
 6.06200000e+03 1.00258000e+05 6.42900000e+03 6.61035538e+08
 1.03666200e+04 5.24480000e+03 1.47732900e+06 1.99000000e-01
 4.19600000e+03 1.63998700e+06 1.53600000e+03 7.82088900e+06
 1.44772500e+06 4.90635400e+05 1.81400000e+03 6.61560000e+04
 9.59000000e+02 6.26672100e+06 4.93736763e+08 1.61498500e+06
 5.66000000e+02 5.24930000e+04 2.77024000e+05 7.39000000e+02
 1.47100000e+03 8.98190000e+04 1.20000000e+02 5.73004470e+07
 1.08517800e+04 4.21950000e+03 4.03469768e+08 6.00420000e+04
 1.28000000e+03 1.22270000e+04 1.53000000e+03 7.94440000e+02
 1.90835210e+07 2.13804000e+05 5.11000000e+02 1.97883500e+04
 3.78000000e+02 2.05644929e+08 1.05108230e+05 1.09444800e+06
 5.91250000e+02 3.31980000e+04 1.58500000e+02 1.17700000e+03
 1.97500000e+03 5.36200000e+03 1.15300000e+02 5.92958892e+08
 2.74956880e+07 9.12920000e+03 9.55232750e+07 1.26290000e+04
 3.54070000e+03 9.98000000e+03 3.03000000e+03 6.14901000e+05
 2.01015500e+06 6.15182000e+05 3.34000000e+02 9.35293000e+04
 2.66500000e+03 3.83560624e+08 6.01759072e+08 4.66581880e+07
 2.09950000e+03 9.78610000e+04 1.03563000e+03 1.10700000e+03
 1.67500000e+03 1.00235000e+05 9.00000000e+01            nan
            nan            nan            nan 1.20000000e-03
 4.53434000e+04            nan 3.72000000e+02            nan
 2.10563000e+03 9.64407500e+05 7.34000000e+02 4.18798800e+05
 1.77500000e+03            nan            nan            nan
 1.20215000e+04 3.90000000e+01 3.03201000e+02 1.30300000e+03
 1.78400000e+03 5.21400000e+00 1.78250000e+02            nan
            nan            nan            nan            nan
            nan            nan 4.89900000e+03            nan
            nan            nan 3.03000000e+02            nan
            nan            nan            nan            nan
            nan            nan 1.68600000e+03            nan
            nan            nan            nan            nan
            nan            nan 2.46000000e+02            nan
            nan 1.15692000e+05 3.40000000e+01            nan
 5.30000000e+01            nan            nan 5.40000000e+02
            nan]

In [7]:
d=pd.DataFrame(sup_total,sup_total_numeric)
d

                  0
0.0               0
149.5         149.5
232941.0     232941
1727.0         1727
75.0             75
...             ...
53.0             53
NaN       2378,1825
NaN       278,13063
540.0           540
NaN          2,1597

[597 rows x 1 columns]

In [8]:
#rename the dataframe
d.rename(columns={0:'string_value'}, inplace=True)
d.reset_index(inplace=True)
d.rename(columns={'index':'numeric_value'}, inplace=True)
print(d)

#we check if we have missing data
d.isna().sum()

     numeric_value string_value
0              0.0            0
1            149.5        149.5
2         232941.0       232941
3           1727.0         1727
4             75.0           75
..             ...          ...
592           53.0           53
593            NaN    2378,1825
594            NaN    278,13063
595          540.0          540
596            NaN       2,1597

[597 rows x 2 columns]

numeric_value    50
string_value      0
dtype: int64

In [19]:
#I analize the errors converversion
d[d.numeric_value.isna()]

     numeric_value string_value
21             NaN   18.050.255
29             NaN   30.728.114
36             NaN  203.541.184
46             NaN   61.837.604
47             NaN   11.457.229
57             NaN  702.583.347
58             NaN  337.434.854
79             NaN  172.803.806
80             NaN  104.815.274
102            NaN   12.392.828
110            NaN    5.337.374
535            NaN    7.696.472
536            NaN  451.701.199
537            NaN    4.923.988
538            NaN    5.214.405
541            NaN    2.388.387
543            NaN    1.342.632
549            NaN   67.872.663
550            NaN  610.764.595
551            NaN   44.773.855
559            NaN   86851,7218
560            NaN     6992,882
561            NaN      3067,45
562            NaN       100,44
563            NaN      0,04393
564            NaN     20826,31
565            NaN     434,0095
567            NaN      550,649
568            NaN      841,755
569            NaN     723261,9
571            NaN     126315,5
572            NaN        765,5
573            NaN    2825,5393
574            NaN   33281,3045
575            NaN   4688,09736
576            NaN    1306,0055
577            NaN        565,5
579            NaN       2,7536
580            NaN      1801,86
581            NaN       398,95
582            NaN      4253,62
583            NaN        0,015
584            NaN     4297,755
585            NaN        13,69
587            NaN     1577,334
588            NaN      190,285
591            NaN      33296,1
593            NaN    2378,1825
594            NaN    278,13063
596            NaN       2,1597

In [ ]:
#we will evaluated the burned surface per year
burned_surface_per_year=[]
for i in years:
    y=df.loc[df['superficie_afectada_por_incendios_anio']==i].superficie_afectada_por_incendios_total_hectareas.sum().round(0)
    
    burned_surface_per_year.append(y)